.popover-container {
  position: relative;
}

.popover-trigger {
  cursor: pointer;
}

.popover-content {
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

///////////////hover popover
.popover-test {
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0; /* Hidden by default */
  pointer-events: none;
}

.popover-test.visible {
  opacity: 1;
  pointer-events: auto;
}
