.main_wrapper {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  .online_queue {
    &__wrapper {
      box-sizing: border-box;
      color: #111622;
      max-width: 425px;
      margin: 0 auto;
    }
    &__content {
      min-height: 100vh;
      background: linear-gradient(11.05deg, #001aa5 8.15%, #4a72ff 78.76%);
      padding: 50px 0;
      height: 100%;
      position: relative;
      .top {
        margin-bottom: 30px !important;
        .images_block {
          padding: 7px;
          margin-left: 56px;
          img {
            &:first-child {
              position: relative;
            }
            &:last-child {
              position: absolute;
              right: 0;
            }
          }
        }
      }
      .go_back {
        svg {
          margin-left: 16px;
        }
      }
      .take_queue {
        position: absolute;
        background: #ffffff;
        bottom: 0;
        height: 50%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        &__title {
          font-weight: 800;
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 4px;
          letter-spacing: -0.3px;
        }
        &__description {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 24px;
        }
        &__steps {
          display: grid;
          gap: 32px;
          margin-bottom: 24px;
          .step {
            display: flex;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.2px;
            &__icon {
              margin-right: 16px;
            }
            &:last-child {
              white-space: pre-wrap;
            }
          }
        }
        &__button {
          padding: 8px 16px;
          button {
            border: none;
            height: 56px;
            width: 100%;
            background: #018d6d;
            border-radius: 20px;
            font-weight: 700;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.2px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
