.popover-container {
    position: relative;
    z-index: 1;
}

.popover-trigger {
    cursor: pointer;
}

.popover-content {
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(140, 140, 140, 0.2);

    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    width: 100%;
}
.transition-wrapper {
    position: absolute;
    z-index: 99;
    width: 100%;
}

.datepicker {
    padding: 0;
    box-shadow: none;
    width: fit-content;
    display: flex;
}
