.calendar {
	max-width: 312px;
	&__title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		align-items: center;
		svg {
			cursor: pointer;
		}
	}
	.day_names {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 12px;
		.day-name {
			text-align: center;
			height: 30px;
			padding: 5px;
			color: #909090;
		}
	}
	.days {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 15px;

		div {
			display: grid;

			span {
				text-align: center;
				width: 24px;
				cursor: pointer;
				height: 24px;
			}

			span.active {
				background-color: #00978D;
				position: relative;
				border-radius: 8px;
			}
			span.disabled_span {
				color: #909090;
				cursor: not-allowed;
			}
		}
	}
}
